body {
  background-image: url("png5.png") ;
  background-repeat: no-repeat;
  background-size: 1440px 840px;
}

.prevButton{
  width: 170px;
  height: 50px;
  margin-left: 10px;
  margin-top: 600px;
  padding: 10px;
  background-color: transparent;
  margin-bottom: 15px;
}

.nextButton {
  width: 170px;
  height: 50px;
  margin-left: 1050px;
  margin-top: 745px;
  padding: 10px;
  background-color: transparent;
  margin-bottom: 15px;
}
