@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url("2003.jpg") ;
  background-size: cover;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

#taskTitle{
  position: fixed;
  margin-left: 745px;
  color: white;
  margin-top: 50px;
}

#website {
  font-family: sans-serif;
  margin-left: 600px;
  margin-top: 100px;
  width:600px;
  height: 600px;
  background-color: black;
  position: fixed;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#consoleTitle{
  position: fixed;
  margin-left: 350px;
  color: white;
  margin-top: 50px;
}

#consoleTitle2{
  position: fixed;
  margin-left: 50px;
  color: white;
  margin-top: 50px;
}

#console {
  position: fixed;
  margin-left: 320px;
  margin-top: 100px;
  width:225px;
  height: 551px;
  background-color: rgba(0,0,0,0.5);
  padding: 25px;
  word-wrap: break-word;
}

#console2{
  position: fixed;
  margin-left: 30px;
  margin-top: 100px;
  width:225px;
  height: 551px;
  background-color: rgba(0,0,0,0.5);
  padding: 25px;
}

#bottomBorder {
  position: fixed;
  margin-left: 599px;
  margin-top: 502px;
  width: 602.5px;
}

.colorButton{
  width: 100px;
  height: 20px;
  padding: 10px;
  background-color: pink;
  margin-bottom: 15px;
}

.colorChoices {
  position: fixed;
  margin-left: 1250px;
  margin-top: 140px;
}

#button1{background-color: #58A6C3}
#button2{background-color: #7DE0E0}
#button3{background-color: #AFE24F}
#button4{background-color: #FBF168}
#button5{background-color: #F3AF3D}
#button6{background-color: #E7817A}
#button7{background-color: #DE5CAB}
#button8{background-color: #CC88F9}
#button9{background-color: #873CF4}
#button10{background-color: #353839}
#button11{background-color: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);}


#websiteTitle{
  color: white;
  position: fixed;
  margin-top: -55px;
}

#nextButton {
  border: none;
  position: fixed;
  background-color: transparent;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  color: white;
  bottom: 20px;
  right: 20px;
}
#task {
  position: fixed;
  right: 20px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  border: none;
}
 #subheadings{
   visibility: hidden;
   display: inline-flex;
   position: fixed;
   width: 600px;
   height: 55px;
   max-width: 600px;
   max-height: 55px;
  background-color: #333;
   z-index: 20;
   font-family: serif;
   margin-top: 100px;
   margin-left: 600px;
   color:White;
 }
 #subheadings ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#subheadings li {
  float: left;
}

#subheadings li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#subheadings li a:hover {
  background-color: #111;
}
