@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
  background-image: url("2003.jpg") ;
  background-repeat: no-repeat;
  background-size: 1500px 800px;;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

#taskTitle{
  position: fixed;
  margin-left: 745px;
  color: white;
  margin-top: 50px;
}

#website {
  font-family: sans-serif;
  margin-left: 600px;
  margin-top: 100px;
  width:600px;
  height: 600px;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#consoleTitle{
  position: fixed;
  margin-left: 400px;
  color: white;
  margin-top: 50px;
}

#console {
  position: fixed;
  margin-left: 325px;
  margin-top: 100px;
  width:225px;
  height: 551px;
  background-color: black;
  opacity: 50%;
  padding: 25px;
}

#bottomBorder {
  position: fixed;
  margin-left: 599px;
  margin-top: 502px;
  width: 602.5px;
}

.colorButton{
  width: 100px;
  height: 20px;
  padding: 10px;
  background-color: pink;
  margin-bottom: 15px;
}

.colorChoices {
  position: absolute;
  margin-left: 1250px;
  margin-top: 140px;
}

#button1{background-color: #58A6C3}
#button2{background-color: #7DE0E0}
#button3{background-color: #AFE24F}
#button4{background-color: #FBF168}
#button5{background-color: #F3AF3D}
#button6{background-color: #E7817A}
#button7{background-color: #DE5CAB}
#button8{background-color: #CC88F9}
#button9{background-color: #873CF4}
#button10{background-color: #353839}


#websiteTitle{
  color: white;
}

#nextButton {
  border: none;
  position: fixed;
  background-color: transparent;
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  color: white;
  bottom: 20px;
  right: 20px;
}
#task {
  position: fixed;
  right: 20px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  border: none;
}
