body{
  font-family: 'Helvetica', 'Arial', sans-serif;
}

#panel {
  width: 800px;
  height: 100px;
  margin: auto;
}
#IDofWord {
  text-align: center;
  color: red;
  font-size: 40px;
}
#IDofWord:hover {
  color: green;
}

#MeanOfDes{
  display: none;
  font-size: 40px;
  color: red;
}
#PLAYBUTTON,#SURVEYBUTTON{
  text-align: center;
  margin-left: 380px;
  color: red;
  font-size: 40px;
}

h1 {
  text-align: center;
  color: red;
  font-size: 40px;
}

h1:hover {
  color: green;
}
#threebutton {
  display: none;
}

#Project,#TAP,#US{
  text-align: center;
  margin-left: 200px;
  color: red;
  font-size: 60px;
}

#MeanOfUS, #MeanOfTAP, #MeanOfProject {
  display: none;
  font-size: 40px;
  color: red;
}
