body{
  font-family: 'Helvetica', 'Arial', sans-serif;
}

header {
  background-color: #FFFFFF;
  padding: 30px;
  text-align: center;
  color: white;
}

p{
  margin: 50px;
}

#panel {
  width: 800px;
  height: 100px;
  margin: auto;
}
#IDofWord {
  text-align: center;
  color: white;
  font-size: 400px;
}
#IDofWord:hover {
  color: white;
}

#PLAYBUTTON,#SURVEYBUTTON{
  text-align: center;
  margin-left: 100px;
  color: black;
  font-size: 30px;
}

h1 {
  text-align: center;
  color: black;
  font-size: 40px;
}

h1:hover {
  color: white;
}
#threebutton {
  display: none;
}

#Project,#TAP,#US{
  text-align: center;
  margin-left: 200px;
  color: black;
  font-size: 60px;
}

#MeanOfUS, #MeanOfTAP, #MeanOfProject {
  display: none;
  font-size: 40px;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: center;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: grey;
}
