body {
  background-image: url("png4.png") ;
  background-repeat: no-repeat;
  background-size: 1450px 830px;
}

.prevButton{
  width: 170px;
  height: 50px;
  margin-left: 55px;
  margin-top: 750px;
  padding: 10px;
  margin-bottom: 15px;
  color: transparent;
  background-color: transparent;
  border: none;
}

.nextButton{
  width: 170px;
  height: 50px;
  margin-left: 1020px;
  margin-top: 750px;
  padding: 10px;
  margin-bottom: 15px;
  color: transparent;
  background-color: transparent;
  border: none;
}
