body {
  background-image: url("scene2.png") ;
  background-repeat: no-repeat;
  background-size: 1440px 825px;;
}

.playButton
 {
   width: 160px;;
   height: 50px;;
   position: fixed;
   left: 1250px;
   top: 750px;
   color: transparent;
   background-color: transparent;
   border: none;

 }
