img {
  width: 100%;
  vertical-align: text-bottom;
}

.container {
  position: relative;
}

.container a {
  position: absolute;
  display: inline-block;
  background-color: none;
  opacity: 50%;
}

#scene2-link {
  width: 20%;
  height: 16%;
  top: 35%;
  left: 7%;
}

#help-link {
  width: 20%;
  height: 16%;
  top: 30%;
  left: 76%;
}
