body {
  background-image: url("mainPage.png") ;
  background-repeat: no-repeat;
  background-size: 1440px 825px;
}

.playButton
 {
   width: 200px;;
   height: 100px;;
   position: fixed;
   left: 150px;
   top: 300px;
   color: transparent;
   background-color: transparent;
   border: none;

 }
