body {
  background-image: url("mainPage.png") ;
  background-repeat: no-repeat;
  background-size: 1440px 825px;
}

.playButton
 {
   width: 200px;;
   height: 100px;;
   position: fixed;
   left: 150px;
   top: 300px;
   color: transparent;
   background-color: transparent;
   border: none;

 }
 .helpButton{
   width: 170px;
   height: 50px;
   margin-left: 1170px;
   margin-top: 295px;
   padding: 10px;
   margin-bottom: 15px;
   color: transparent;
   background-color: transparent;
   border: none;
 }
